body {
  color: black;
  background-color: white;
  margin: 0;
  font-family: 'OpenSans', sans-serif;
  font-size: 100%; }

#content {
  padding: 0.5em;
  max-width: 105em;
  margin: auto; }

button {
  padding: 0.5em 2em;
  border: none;
  border-radius: 0.25em;
  color: white;
  background-color: #56B5DB;
  text-transform: uppercase;
  font: inherit;
  font-weight: bold; }

a {
  color: #008ACA;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.inputDiv {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  width: 25em;
  margin: 0 1em 1.25em 0;
  padding: 0;
  background-color: white;
  border-style: solid;
  border-width: 0 0 0.3em 0;
  border-color: #EFEFEF; }

input {
  width: 100%;
  min-width: 5em;
  border: none;
  padding: 0.5em;
  background-color: inherit;
  font: inherit;
  text-overflow: ellipsis; }

input:focus {
  outline: 0; }

.key {
  margin: 0;
  padding: 0.5em;
  font-weight: bold;
  background-color: #EFEFEF; }

.inputDiv button {
  background-color: transparent;
  color: inherit;
  width: auto;
  height: auto;
  padding: 0.5em 0.5em 0.5em 0;
  margin: 0;
  font: inherit;
  font-weight: bold;
  color: #008ACA;
  text-transform: uppercase; }

.inputDiv button:disabled {
  color: #DEDEDE; }

#header {
  width: 100%;
  background: #FFF;
  height: 6em;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  border-bottom: solid 0.15em #F5F5F5; }

#back {
  padding: 0; }

#logo {
  width: 23em;
  height: auto;
  margin: 1.2em 0 0 1.6em; }

#picto {
  float: left;
  height: 3ex;
  width: 3ex;
  margin: 0;
  padding-top: 2.4em; }

#doc {
  float: left;
  padding: 2.1em 1.6em 0 1em;
  border-top: solid 0.4em #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  color: #353535; }

#doc:hover {
  border-top: solid 0.4em #56B5DB;
  color: #353535; }

li {
  list-style: none; }

#urlheader {
  margin: 1.6em; }

@media screen and (max-width: 62em) {
  #urlheader {
    display: none; } }

@media screen and (max-width: 33.438em) {
  #header {
    flex-direction: column;
    height: auto; }
  #logo {
    float: left;
    margin: 0 0 0 1em;
    width: 15em; }
  #picto {
    height: 2.5ex;
    width: 2.5ex;
    margin: 0 auto;
    padding: 0.05em 0.2em 0 1.3em; }
  #doc {
    padding: 0em 1em 0.5em 1em;
    margin: 0 auto;
    border-bottom: solid 0.2em #ffffff;
    border-top: none; }
  #doc:hover {
    border-bottom: solid 0.2em #56B5DB;
    border-top: none; } }

.ui-widget {
  border-style: solid;
  border-width: 0.1ex;
  border-color: #DEDEDE;
  background: white;
  box-shadow: 0 0 0.5em #DEDEDE; }

.ui-widget-header {
  border-style: solid;
  border-width: 0 0 0.1ex 0;
  border-color: #DEDEDE;
  background: #EFEFEF;
  padding: 0.5em; }

.ui-helper-hidden-accessible {
  display: none; }

.ui-autocomplete {
  max-height: 15em;
  overflow-y: auto;
  padding: 0;
  position: absolute; }
  .ui-autocomplete .ui-menu-item {
    padding: 0.2em;
    line-height: 1.5em; }
  .ui-autocomplete .ui-state-focus {
    background: #89C6E5; }

.ui-datepicker-header span.ui-icon {
  display: none; }

.ui-datepicker-header a {
  color: inherit;
  text-decoration: none; }

.ui-datepicker-header a.ui-datepicker-prev:after {
  content: '<'; }

.ui-datepicker-header a.ui-datepicker-prev {
  display: block;
  float: left;
  cursor: pointer; }

.ui-datepicker-header a.ui-datepicker-next:after {
  content: '>'; }

.ui-datepicker-header a.ui-datepicker-next {
  display: block;
  float: right;
  cursor: pointer; }

.ui-datepicker-header .ui-datepicker-title {
  text-align: center; }

table.ui-datepicker-calendar {
  width: 100%;
  border-spacing: 0.5em; }
  table.ui-datepicker-calendar a {
    color: inherit;
    text-decoration: none; }
  table.ui-datepicker-calendar td {
    text-align: right; }
  table.ui-datepicker-calendar .ui-datepicker-today {
    font-weight: bold; }
  table.ui-datepicker-calendar .ui-datepicker-current-day {
    background: #89C6E5; }

.ui-timepicker-div.ui-timepicker-oneLine {
  padding: 0.5em; }
  .ui-timepicker-div.ui-timepicker-oneLine dl {
    margin: 0; }
  .ui-timepicker-div.ui-timepicker-oneLine dt.ui_tpicker_time_label {
    padding: 0.5em;
    padding-left: 0; }
  .ui-timepicker-div.ui-timepicker-oneLine select {
    background: #EFEFEF;
    border: 0.1em solid #DEDEDE;
    padding: 0.3em;
    font-family: inherit;
    font-size: inherit; }

.ui-datepicker-buttonpane {
  padding: 0.5em; }
  .ui-datepicker-buttonpane button {
    padding: 0.5em; }
  .ui-datepicker-buttonpane button.ui-datepicker-close {
    float: right; }

#request #credentials, #request #path, #request #parameters {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: auto; }

#request .templateInput {
  box-shadow: 0 0 0.5em #56B5DB; }

#request button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

#request img.deleteButton {
  vertical-align: text-top;
  height: 1.1em; }

#request #credentials .inputDiv {
  border-color: #EFBF8F; }

#request #credentials .templateInput {
  box-shadow: 0 0 0.5em #c8731d; }

#request #path .inputDiv {
  border-color: #CED480; }

#request #path .templateInput {
  box-shadow: 0 0 0.5em #858c2f; }

#request #parameters .inputDiv {
  border-color: #89C6E5; }

#request #parameters .templateInput {
  box-shadow: 0 0 0.5em #2681af; }

#request #feature.inputDiv {
  border-color: #F18897; }

#request #urlDiv {
  width: 100%; }

#request #requestUrl {
  margin: 0.5em;
  overflow-x: auto; }
  #request #requestUrl .api {
    background-color: #EFBF8F; }
    #request #requestUrl .api .focusedParam {
      background-color: #b26619;
      color: white; }
  #request #requestUrl .path {
    background-color: #CED480; }
    #request #requestUrl .path .focusedParam {
      background-color: #737929;
      color: white; }
  #request #requestUrl .feature {
    background-color: #F18897; }
    #request #requestUrl .feature .focusedParam {
      background-color: #b2152b;
      color: white; }
  #request #requestUrl .parameters {
    background-color: #89C6E5; }
    #request #requestUrl .parameters .focusedParam {
      background-color: #22719a;
      color: white; }

#request #submitDiv {
  text-align: center; }

#status {
  margin: 1em;
  text-align: center;
  font-weight: bold; }

.map-marker-label {
  background: #353535;
  border-color: #353535;
  color: white; }

.line_code {
  display: inline-block;
  border: none;
  border-radius: 3em;
  line-height: 1.2em;
  min-width: 1.2em;
  text-align: center;
  padding: 0.4em; }

img.mode {
  vertical-align: middle;
  height: 2em; }

div.object {
  margin: 1ex 0 1ex 2ex;
  padding: 0;
  border-style: solid;
  border-width: 0.1ex 0 0.1ex 0.1ex;
  border-color: #DEDEDE;
  background-color: #EFEFEF; }
  div.object div.head {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    border-style: none;
    background-color: white; }
  @media screen and (max-width: 35em) {
    div.object div.head {
      flex-wrap: wrap; }
    div.object div.summary {
      order: 3;
      min-width: 80%; } }
  div.object div.name, div.object div.button, div.object div.summary {
    border-style: none;
    margin: 1ex; }
  div.object div.name {
    font-weight: bold; }
  div.object div.summary {
    flex: 1; }
  div.object div.data {
    border-style: none;
    margin: 0;
    padding: 0; }
  div.object div.data > div {
    border-style: solid;
    border-width: 0.1ex 0 0 0;
    border-color: #DEDEDE;
    margin: 0;
    padding: 0; }
  div.object div.not_filled {
    display: none; }
  div.object div.leaflet {
    height: 80vh; }
  div.object div.table {
    overflow-x: auto;
    padding: 1ex 0 1ex 2ex; }
    div.object div.table table {
      background-color: white;
      border-spacing: 0;
      border-collapse: collapse;
      text-align: center; }
      div.object div.table table th {
        font-weight: bold;
        padding: 0.5ex;
        border: 0.1ex solid #DEDEDE;
        color: inherit; }
      div.object div.table table td {
        padding: 0.5ex;
        border: 0.1ex solid #DEDEDE;
        white-space: nowrap; }
      div.object div.table table td.stop-point {
        text-align: right; }
      div.object div.table table td.time {
        text-align: left; }

#data > div {
  margin: 0;
  border-width: 0.1ex; }

div.object label.objectButton {
  display: inline-block; }

div.object label.objectButton span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5ex;
  width: 5ex;
  margin: 0.2ex;
  border: none;
  border-radius: 0.25em;
  text-align: center;
  background-color: #EFEFEF;
  color: #353535;
  font: 1em;
  text-transform: uppercase;
  font-weight: bold; }

div.object label.objectButton input {
  display: none; }

div.object label.objectButton input:checked + span {
  background-color: #56B5DB;
  color: #fff; }

div.object pre.renderjson {
  margin: 0;
  padding: 1ex;
  background-color: #353535;
  color: #DEDEDE;
  overflow-x: auto;
  font-size: 1em; }
  div.object pre.renderjson * {
    background: none; }
  div.object pre.renderjson .disclosure {
    font-size: 1.5em; }
  div.object pre.renderjson a {
    text-decoration: none;
    color: #89C6E5; }
  div.object pre.renderjson .key {
    color: #CED480; }
  div.object pre.renderjson .string {
    color: #EFBF8F; }
  div.object pre.renderjson .number {
    color: #F18897; }
  div.object pre.renderjson .boolean {
    color: #F18897; }
  div.object pre.renderjson .keyword {
    color: #F18897; }
